

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["string"]</h3>
@foreach (var str in ViewBag.Collection)
{
    @(str+1) <br />
}
@foreach (int mode in ViewData["Modes"] as int[])
{
    <li>
        @(mode+1)
    </li>
}
<p>Use this area to provide additional information.</p>
<form method="POST" asp-action="GetAbout" asp-controller="Home">
    <label for="firstName">Your first name</label>
    <input type="text" name="name" id="firstName" placeholder="Your name goes here" />
    <input type="submit" />
</form>
